storage/
tmp/
.cache/
.lesshst
.wget-hsts
.python_history
.node_repl_history
**/node_modules/
**/__pycache__/
*.pyc
*.swp
*~
.bash_history
.ssh/
.ssh/**
.viminfo
.gitconfig
!.bashrc
!.profile
!.zshrc
!.termux/
!.config/
!.config/**
